html {
  font-family: sans-serif;
  margin: 0;
}
p {
  border-style: solid;
  border-radius: 2.5rem;
  border-color: maroon;
  width: 200px;
  height: 100px;
  align-content: center;
  background-color: red;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 5px;
  color: pink;
  font-size: 1.5rem;
}
