html {
  font-family: sans-serif;
  margin: 0;
}
button {
  background-color:red;
}
p {
  border-style: solid;
  border-radius: 2.5rem;
  border-color: maroon;
  width: 250px;
  height: 100px;
  align-content: center;
  color: pink;
  font-size: 2rem;
}
