
*{
  background-color: #f0e68c;
}
.one {
  font-weight: bold;
  color: green;
  text-decoration: underline;
}
.time {
  color: navy;
}
#recipe {
  color: navy;
  font-weight: normal;
}
table,
td {
  border: 1px solid #333;
  color: teal;
}
thead {
  background-color: #333;
  color: teal;
}
