
*{
  background-color: #f0e68c;
}
.one {
  font-weight: bolder;
  color: green;
  text-decoration: underline;
}
#time {
  color: navy;
  font-weight: bold;
}
.recipe {
  color: navy;
  font-weight: bold;
}
table,
td {
  border: 1px solid #333;
  color: teal;
  font-weight: 500;
}
thead {
  background-color: #333;
  color: teal;
  font-weight: 500;
}
