*{
  background-color: #f0e68c;
}
#heads{
  font-size: 48px;
  font-weight: bold;
  color: black;
  background-color: lime;
}
#topper{
  font-size: 64px;
  color: maroon;
  text-decoration: underline;
}
.letters{
  color: navy;
  font-size: 32px;
  font-family: sans-serif;
}
table{
  border: 3px solid #333;
}
td{
  border: 2px solid #333;
}
#total{
  color: teal;
  font-weight: bold;
  font-size: 56px;
}
img{
  width: 300px;
  height: auto;
}
#other{
  font-size: 64px;
  color: maroon;
}
