#topper {
  font-size: 64px;
  color: maroon;
}


.ingredients {
  color: navy;
  font-size: 64px;
  text-decoration: underline;
}
.cost {
  color: green;
  font-size: 24px;
}
#total {
  color: teal;
  font-weight: bold;
  font-size: 36px;
  font-family: serif;
}
.frame {
  width: 300px;
  height: auto;
}
