* {
  background-color: paleturquoise;
}
.bar {
  display: flex;
  width: 100%;
  position: fixed;
}

.box {
  background-color: lime;
  text-align: center;
  padding: 10px;
  flex: 0 0 19%;
  justify-content: space-around;
}
.show5 {
  padding-right: 35px;
}
.photos {
  display: flex;
  width: 100%;
  padding-top: 85px;
  justify-content: space-between;
}
.size {
  flex: 0 0 18%;
  max-height: 300px;
  max-width: 275px;
}
.says1 {
  border: 5px maroon;
  border-width: 70%;
  border-radius: 2.5em;
  padding: 25px;
  font-size: 24px;
  font-style: bold;
}
