* {
  background-color: aquamarine;
}
.bar {
  display: flex;
  width: 100%;
  position: fixed;
}

.box {
  background-color: lime;
  text-align: center;
  padding: 10px;
  flex: 0 0 19%;
  justify-content: space-around;
}
.show5 {
  padding-right: 35px;
}
.photos {
  display: flex;
  width: 100%;
  padding-top: 85px;
  justify-content: space-between;
}
.size {
  flex: 0 0 18%;
  max-height: 300px;
  max-width: 275px;
}
.prose {
  display: flex;
  flex-direction: column;
}
.says {
  border: 5px;
  border-style: solid;
  border-color: maroon;
  color: blue;
  align-content: center;
  border-radius: 2.5em;
  padding: 25px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 400px;
}
.stores {
  display: flex;
  flex-direction: column;
}
.links {
  border: 5px;
  border-style: solid;
  border-color: green;
  align-content: center;
  border-radius: 2.5em;
  padding: 35px;
  font-size: 32px;
  font-weight: bold;
  margin-right: 50px;
}
.one {
  float: right;
  position: relative;
  bottom: 550px;
}
.two {
  float: right;
  position: relative;
  bottom: 400px;
  left: 365px;
}
.three {
  float: right;
  position: relative;
  bottom: 250px;
  left: 625px;
}
.fname {
  margin-left: 150px;
  margin-bottom: 30px;
  font-size: 24px;
}
.lname {
  margin-left: 150px;
  margin-top: 30px;
  font-size: 24px;
}
.yage {
  margin-left: 150px;
  margin-top: 30px;
  font-size: 24px;
}
.tnum {
  margin-left: 150px;
  margin-top: 30px;
  font-size: 24px;
}
.fbands {
  margin-left: 150px;
  margin-top: 30px;
  font-size: 24px;
}
.tdrive {
  margin-left:150px;
  margin-top: 30px;
  font-size: 24px;
}
.here {
  margin-left:225px;
  margin-top: 30px;
  font-size: 24px;
}
#foot {
  margin-bottom: 150px;
  border: 5px;
  border-style: solid;
  border-color: maroon;
  color: blue;
  align-content: center;
  border-radius: 2.5em;
  padding: 25px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
}
