.bar {
  display: flex;
  width: 100%;
  background-color: white;
  position: fixed;
}

.box {
  border: 2px;
  border-color: black;
  background-color: lime;
  text-align: center;
  padding: 10px;
  border radius: 1.5rem;
  flex: 0 0 19%;
  justify-content: space-around;
}
.show5 {
  padding-right: 35px;
}
