* {
  background-color: burlywood;
}
#titler {
  color: forestgreen;
  text-align: center;
  font-size: 128px;
  text-shadow: mediumseagreen 5px 5px 5px;
  font-family: fantasy;
  position: relative;
  bottom: 250px;
}
