body {
  background-color: burlywood;
}
#titler {
  color: forestgreen;
  text-align: center;
  font-size: 128px;
  text-shadow: mediumseagreen 5px 5px 5px;
  font-family: fantasy;
  position: relative;
  bottom: 150px;
}
.process {
  align-content: center;
  font-size: 32px;
  color: darkblue;
  border: 10px;
  border-style: solid;
  border-color: firebrick;
  padding: 45px;
  margin: 25px;
  margin-top: 0;
  position: relative;
  bottom: 275px;
  border-radius: 5em;
}
.places {
  display: flex;
  padding: 100px;
  font-size: 32px;
  color: royalblue;
  position: relative;
  bottom: 285px;
  justify-content: space-around;
}
.Jaguars {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 45px;
  bottom: 315px;
  justify-content: space-around;
}
.green {
  max-height: 525px;
  max-width: 625px;
}
.orange {
  max-height: 525px;
  max-width: 625px;
}
.again {
  display: flex;
  padding: 100px;
  font-size: 32px;
  color: royalblue;
  position: relative;
  bottom: 325px;
  justify-content: space-around;
}
.acceptance {
  align-content: center;
  font-size: 32px;
  color: darkblue;
  border: 10px;
  border-style: solid;
  border-color: firebrick;
  padding: 45px;
  margin: 25px;
  margin-top: 0;
  position: relative;
  bottom: 295px;
  border-radius: 5em;
}
#topage4 {
  font-family: fantasy;
  text-align: center;
  font-size: 64px;
  color: forestgreen;
  position: relative;
  bottom: 275px;
}
