body {
  background-color: burlywood;
}
#titler {
  color: forestgreen;
  text-align: center;
  font-size: 128px;
  text-shadow: mediumseagreen 5px 5px 5px;
  font-family: fantasy;
  position: relative;
  bottom: 150px;
}
.purchase {
  border-width: 100%;
  align-content: center;
  font-size: 32px;
  color: darkblue;
  border: 10px;
  border-style: solid;
  border-color: firebrick;
  padding: 45px;
  margin: 25px;
  margin-top: 0;
  position: relative;
  bottom: 275px;
  border-radius: 5em;
}
.pictures {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    bottom: 225px;
}
.restored {
  max-height: 400px;
}
.dusty {
  max-height: 400px;
}
.setup {
  border width: 100%;
  align-content: center;
  font-size: 32px;
  color: darkblue;
  border: 10px;
  border-style: solid;
  border-color: firebrick;
  padding: 45px;
  margin: 25px;
  margin-top: 0;
  border-radius: 5em;
  position: relative;
  bottom: 155px;
}
.links {
  display: flex;
  padding: 100px;
  font-size: 48px;
  color: royalblue;
  position: relative;
  bottom: 145px;
  justify-content: space-around;
}
.lambos {
  display: flex;
  padding: 0;
  width: auto;
  max-height: 450px;
  justify-content: space-around;
  position: relative;
  bottom: 175px;
}
